.comments-wrapper {
    padding:8px 16px;
}

.comment-wrapper {
    padding: 2px 0;
}

.comment-username {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    color: #262626;
    margin-right:0.1rem;
}

.addComment {
    border-top: 1px solid #22222220;
    margin-top: 10px;
    min-height: 56px;
    display:flex;
    align-items:center;
    font-size:0.9rem;

}

.timestamp {
    color: #22222250;
    font-size: 0.8rem;
    font-weight: bold;
    margin:5px 0;
}

.addComment form {
    width:100%;
}

textarea {
    border: none;
    height: 18px;
    max-height: 80px;
    resize: none;
    width: 100%;
    outline: 0;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    color:#666;
}
