.searchHeader {
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    justify-content: center;
    height:77px;
}
.header-wrapper {
    width: 100%;
    max-width: 1010px;
    display: flex;
    align-items: center;
    padding: 26px 20px;
    justify-content: space-between;
}

.header-logo, .header-nav { 
    display: flex;
    align-items: center;
}

.header-nav {
    display:flex;
    justify-content: flex-end;
}

.logo {
    background-image: url(/static/media/insta-sprite.d0e3cb0e.png);
    background-position: -104px -177px;
    height: 24px;
    width: 24px;
}

.brand {
    background-image: url(/static/media/insta-sprite.d0e3cb0e.png);
    background-position: 0px -146px;
    height: 29px;
    width: 103px;
    margin-top: 7px;
}

.divider {
    background-color: #262626;
    width: 1px;
    height: 30px;
    margin: 0 18px 0 20px;
}

.search {
    min-width: 125px;
    width: 215px;
    display: flex;
    justify-content: center;
}

.search input {
    padding: 5px 10px;
    text-align: center;
    width: 90%;
    font-size: 0.8rem;
    background: #99999910;
    border-style: none;
    border: 1px solid #99999950;
    border-radius: 2px;
    color:#666;
}

.header-nav-icons {
    background-image: url(/static/media/insta-sprite.d0e3cb0e.png);
    width: 24px;
    height: 24px;
    margin-left: 30px;
}
.nav-explore {
    background-position: -104px -255px;
}

.nav-heart {
    background-position: -231px -130px;
}

.nav-profile {
    background-position: -182px -203px;
}

